[submodule "NetLib"]
	path = NetLib
	url = https://github.com/pshpjr/NetLib.git
	branch = master
[submodule "src/Common"]
	path = src/Common
	url = https://github.com/pshpjr/GameServer-CommonDatas.git
	branch = main
